/* I swear to god I wouldn't be able to do any good web design if it weren't for W3Schools */
/* god bless John W3Schools */

html, body {
    width: 99%;
    height: 98%;
    background-color: rgb(87, 86, 86);
}

/*Removes the blue colour from all links*/
a {
    color: inherit;
}

/*Formatting for text in forms*/
label {
  font-family: Trebuchet MS, Helvetica, sans-serif;
}

/*Formatting for a single form, may become general form formatting if desired*/
.form {
  position: relative;
  top: 100px;
  left: 30px;
}

.button {
    border-radius: 8px;
    height: 200px;
    width: 220px;
    /*Adding extra fonts into the line adds fallbacks, useful since Linux and Mac don't have Trebuchet MS installed automatically*/
    font-family: Trebuchet MS, Helvetica, sans-serif;
}

/*Used for the title at the top of the page*/
.head {
    background-color: rgb(53, 93, 148);
    width: 100%;
    height: 70px;
    position: absolute;
    top: -54px;
    left: 1%;
}

/*Used so that the buttons are placed how I like them*/
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  /*padding: 10px;*/
  column-gap: 20px;
  position:absolute;
  left: 22.75%;
  top: 30%;
}

 /* The sidebar menu */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 120px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 0; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: rgb(53, 93, 148);
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: black;
  display: block;
  font-family: Trebuchet MS, Helvetica, sans-serif;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: grey;
}

/* Style page content */
.main {
  margin-left: 120px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

img {
    width: 100vw;
    height: 100vh;
}

* {
    animation: chaos 0.8s infinite;
}

@keyframes chaos {
    0% {
        transform: rotate(0deg);
        background-color: white;
    }
    50% {
        transform: rotate(194deg);
        background-color: green;
    }
    100% {
        transform: rotate(0deg);
        background-color: red;
    }