<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Word Search</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='/style.css') }}">
</head>
<body>
    <!--Most readable code written by me-->
    <a href="index.html"><h1 style="font-family: Trebuchet MS, Helvetica, sans-serif; font-size: 30px; position: absolute; z-index: 1;" class="head"><br style="display: block; margin-top: 37px">Word Search</h1></a>

<div class="sidenav">
  <a href="#"><br style="display: block; margin-top: 35px">About</a>
  <a href="#">ghgh</a>
  <a href="https://github.com/BanjoTheBot/word-search-game">Github</a>
  <a href="#"></a>
</div>

<center>
  <form action="/create" method="post" class="form" autocomplete="off">
<label for="name">Name of Word Search:</label><br>
<input type="text" id="name" name="name"><br>
<label for="words">Words in Word Search (Seperate by spaces)</label><br>
<input type="text" id="words" name="words"><br>
<input type="submit" value="Submit">
      </form>
  </center>

</body>
</html>