<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Word Search</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='/style.css') }}">
</head>
<body>
    <!--Most readable code written by me-->
    <a href="index.html"><h1 style="font-family: Trebuchet MS, Helvetica, sans-serif; font-size: 30px; position: absolute; z-index: 1;" class="head"><br style="display: block; margin-top: 37px">Word Search</h1></a>

<div class="sidenav">
  <a href="#"><br style="display: block; margin-top: 35px">About</a>
  <a href="#">ghgh</a>
  <a href="https://github.com/BanjoTheBot/word-search-game">Github</a>
  <a href="#"></a>
</div>

<div class = "grid-container">
    <center><a href="/create"><div class="grid-item"><button class = button>Create New</button></div></a></center>
    <center><div class="grid-item"><button class = button>Open File</button></div></center>
    <!--This will open a page used to browse files saved in the browsers cookies. Users will be reminded to save those in cookies to local storage regularly.-->
    <center><div class="grid-item"><button class = button>Browse Saved</button></div></center>
    <img src="{{ url_for('static',filename='/borgan.jpg') }}" />
</div>

</body>
</html>