<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Word Search</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='/style.css') }}">
</head>
<body>
<!--    I don't care what the IDE says, I don't care what the internet says, I will not stp using the center tag-->
    <center><h1 style="font-family: Trebuchet MS; font-size: 80px;" class="head">Word Search</h1></center>

<div class = "grid-container">
    <center><div class="grid-item"><button class = button>Create New</button></div></center>
    <center><div class="grid-item"><button class = button>Open File</button></div></center>
    <!--This will open a page used to browse files saved in the browsers cookies. Users will be reminded to save those in cookies to local storage regularly.-->
    <center><div class="grid-item"><button class = button>Browse Saved</button></div></center>
</div>

</body>
</html>